* text=auto !eol
srvc.pom-1.2.1-SNAPSHOT/pom.xml -text
srvc.simple.profile.models-1.2.1-SNAPSHOT/ASL2.0.txt -text svneol=unset#text/plain
srvc.simple.profile.models-1.2.1-SNAPSHOT/MITX.txt -text svneol=unset#text/plain
srvc.simple.profile.models-1.2.1-SNAPSHOT/NOTICE.txt -text svneol=unset#text/plain
srvc.simple.profile.models-1.2.1-SNAPSHOT/pom.xml -text
srvc.simple.profile.models-1.2.1-SNAPSHOT/src/main/java/org/universAAL/service/simplifiedAPIs/profileModel/DefaultServiceCallee.java -text
srvc.simple.profile.models-1.2.1-SNAPSHOT/src/main/java/org/universAAL/service/simplifiedAPIs/profileModel/ServiceProfileModel.java -text
srvc.simple.profile.models-1.2.1-SNAPSHOT/src/main/java/org/universAAL/service/simplifiedAPIs/profileModel/StartUIServiceProfileModel.java -text svneol=unset#text/plain
srvc.simple.profile.models-1.2.1-SNAPSHOT/src/main/java/org/universAAL/service/simplifiedAPIs/profileModel/osgi/Activator.java -text
