pom/.project
pom/.settings
sieg.asor/.classpath
sieg.asor/.project
sieg.asor/.settings
sieg.asor/target
sieg.simple.profile.models/*.classpath
sieg.simple.profile.models/*.project
sieg.simple.profile.models/*.settings
sieg.simple.profile.models/target
