srvc.asor-1.2.1-SNAPSHOT/.classpath
srvc.asor-1.2.1-SNAPSHOT/.project
srvc.asor-1.2.1-SNAPSHOT/.settings
srvc.asor-1.2.1-SNAPSHOT/target
srvc.pom-1.2.1-SNAPSHOT/.project
srvc.pom-1.2.1-SNAPSHOT/.settings
srvc.pom-1.3.3-SNAPSHOT/.project
srvc.pom-1.3.3-SNAPSHOT/.settings
srvc.simple.profile.models-1.2.1-SNAPSHOT/*.classpath
srvc.simple.profile.models-1.2.1-SNAPSHOT/*.project
srvc.simple.profile.models-1.2.1-SNAPSHOT/*.settings
srvc.simple.profile.models-1.2.1-SNAPSHOT/target
srvc.simple.profile.models-1.3.3-SNAPSHOT/*.classpath
srvc.simple.profile.models-1.3.3-SNAPSHOT/*.project
srvc.simple.profile.models-1.3.3-SNAPSHOT/*.settings
srvc.simple.profile.models-1.3.3-SNAPSHOT/target
